body {
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.light {
    background-color: white;
    color: black;
}

.dark {
    background-color: black;
    color: white;
}